<ion-content [fullscreen]="true">
  <div class="container">
    <div class="top">
      <div class="logo">
        <img routerLink="/" src="assets/logo.webp" alt="logo" />
      </div>
    </div>
    <div [formGroup]="credentials" class="content">
      <h2>Logowanie</h2>
      <ion-input
        formControlName="email"
        label="E-mail"
        label-placement="floating"
        fill="outline"
        placeholder="jan.kowalski@domena.pl"
      ></ion-input>
      <ion-input
        formControlName="password"
        type="password"
        label="Hasło"
        label-placement="floating"
        fill="outline"
        placeholder="********"
      ></ion-input>
    </div>
    <div class="buttons">
      <ion-button expand="block" fill="solid" (click)="login()"
        >Zaloguj się</ion-button
      >
    </div>
  </div>
</ion-content>
