<div class="container">
  <h3>Powiadomienia</h3>
  <div class="content">
    <div class="notification">
      <div class="notification__icon">
        <ion-icon name="help-buoy-outline" class="icon"></ion-icon>
      </div>
      <div class="notification__content">
        <div class="notification__info">
          <h4 class="notification__title">SOS</h4>
          <p class="notification__description">Pacjent potrzebuje pomocy</p>
          <p class="notification__date">12:00 20.09.2024</p>
        </div>
        <div class="notification__patient">
          <ion-icon
            name="person-outline"
            class="notification__patient-icon"
          ></ion-icon>
          <div class="notification__patient-info">
            <h4 class="notification__patient-name">Jan Kowalski</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="notification">
      <div class="notification__icon">
        <ion-icon name="help-buoy-outline" class="icon"></ion-icon>
      </div>
      <div class="notification__content">
        <div class="notification__info">
          <h4 class="notification__title">SOS</h4>
          <p class="notification__description">Pacjent potrzebuje pomocy</p>
          <p class="notification__date">12:00 20.09.2024</p>
        </div>
        <div class="notification__patient">
          <ion-icon
            name="person-outline"
            class="notification__patient-icon"
          ></ion-icon>
          <div class="notification__patient-info">
            <h4 class="notification__patient-name">Jan Kowalski</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
