<div class="container">
  <h3>Powiadomienia</h3>
  <div class="content">
    @for(notification of notifications() | reverse; track $index) {
    <div
      [class.notification--sos]="PatientEventsEnum.SOS === notification.event"
      class="notification"
    >
      <div class="notification__icon">
        @for(icon of patientEventIconMap.get(notification.event); track $index)
        {
        <ion-icon [name]="icon" class="icon"></ion-icon>
        }
      </div>
      <div class="notification__content">
        <div class="notification__info">
          <h4 class="notification__title">
            {{ patientEventTitleMap.get(notification.event) }}
          </h4>
          <p class="notification__description">
            {{ patientEventDescriptionMap.get(notification.event) }}
          </p>
          <p class="notification__date">-</p>
        </div>
        <div class="notification__patient">
          <ion-icon
            name="person-outline"
            class="notification__patient-icon"
          ></ion-icon>
          <div class="notification__patient-info">
            <h4 class="notification__patient-name">
              {{ notification.patientName }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
